<button (click)="mostrar=!mostrar">Mostrar Listado</button>

<div *ngIf="mostrar else mensaje">

    <form #formulario="ngForm">
        <input type="text" placeholder="Ingrese el titulo" name="titulo" ngModel required email #titulo="ngModel">
        <span *ngIf="titulo.invalid && titulo.touched && titulo.errors.required">El título es requerido</span>
        <span *ngIf="titulo.invalid && titulo.touched && titulo.errors.email">Debe ser un correo</span>
        <br>
        <input type="text" placeholder="Ingrese el subtitulo" name="subtitulo" ngModel required>
        <br>
        <textarea cols="30" rows="10" placeholder="Ingrese la cabecera" name="cabecera" ngModel></textarea><br>
        <input type="number" placeholder="Ingresar cantidad artículos" name="cantidad" ngModel required>
        <br>
        <button type="button" (click)="agregar()" [disabled]="formulario.invalid">Agregar</button>
        <button type="button" (click)="cargarData()">Cargar Data</button>
        <button type="button" (click)="cargarDataTitulo()">Cargar Data Parcial</button>
    </form>


    <app-primero [titulo]="item.titulo" [subtitulo]="item.subtitulo" [cabecera]="item.cabecera"
        *ngFor="let item of tableros" (onEnviando)="recibiendo($event)" (onGenerando)="generarAleatorio($event)">
    </app-primero>
</div>

<ng-template #mensaje>
    <div>
        Presione el botón para mostrar
    </div>
</ng-template>



<!-- <app-primero titulo="Sistema Ventas 01" subtitulo="Dashboard 01" cabecera="item 01" (onEnviando)="recibiendo()" (onGenerando)="generarAleatorio()"></app-primero>
<app-primero titulo="Sistema Ventas 02" subtitulo="Dashboard 02" cabecera="item 02" (onEnviando)="recibiendo()" (onGenerando)="generarAleatorio()"></app-primero>
<app-primero (onEnviando)="recibiendo()" (onGenerando)="generarAleatorio()"></app-primero> -->

<div class="formatoTitulo"></div>