<div class="row justify-content-center">
    <div class="col-8 text-center">
        <form>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Ingrese el nombre" #nombre>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Ingrese la descripcion" #descripcion>
            </div>
            <div>
                <button type="button" class="btn btn-success" (click)="agregar()">
                    Agregar producto
                </button>
            </div>
        </form>

    </div>
    <table class="table table-hover table-striped col-8" *ngIf="productos.length else noHayProductos">
        <tbody>
            <tr *ngFor="let producto of productos;let indice = index">
                <td>
                    <app-producto [producto]="producto" [indice]="indice" (onEliminar)="eliminar($event)">
                    </app-producto>
                </td>
            </tr>
        </tbody>
    </table>
    <ng-template #noHayProductos>
        <div class="col-8 text-align-center">
            No hay productos
        </div>
    </ng-template>
</div>